body {
  background-color: #F0F7F4 !important;
  color: #272727 !important;
}

#title {
  font-family: 'Special Elite', cursive;
}

.typewriter {
  overflow: hidden;
  border-right: 3px solid #272727;
  width: fit-content;
  white-space: nowrap; 
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  animation: 
    typing 1.5s steps(10, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #272727; }
}

.head {
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  color: #A4243B;
  font-size: 25px;
}

.instructions {
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
}

.instruct-div {
  width: 40%;
}

.pageBtns {
  background-color: #192BC2 !important;
  border: none !important;
  color: white !important;
}

.pageBtns:hover {
  background-color: #525252 !important;
}

#timerBtn:hover {
  color: #616161;
}

.hidden {
  display: none;
}

.gameBoard {
  position: relative;
}

.row, .gameInfo {
  display: flex;
  justify-content: center;
}

#link {
  font-size: 12px;
}

/* .gameInfo {
  display: flex;
  justify-content: center;
  width: 100%;
} */

.tilesRmng, #timerBtn {
  width: 85px;
}

.Blue-TeamColor {
  color: #192BC2;
}

.Red-TeamColor {
  color: #A4243B;
}

.cells {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #272727;
  width: 140px;
  height: 90px;
  margin: 7px;
  border-radius: 2px;
  box-shadow: 3px 3px .5em .01em #a2b4c6, -3px -3px .5em .01em #ffffff, inset 1px 1px .4em #F0F7F4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cells:hover {
  cursor: pointer;
}

.turn-red {
  background-color: #A4243B;
  color: whitesmoke;
}

.turn-blue {
  background-color: #192BC2;
  color: whitesmoke;
}

.turn-grey {
  background-color: grey;
  color: whitesmoke;
}

.turn-black {
  background-color: black;
  color: whitesmoke;
}

.winner {
  position: fixed;
  top: 0;
  left: 10%;
  font-family: 'Special Elite', cursive;  letter-spacing: 2px;
  width: 80%;
  height: 5%;
}
